@page
@model HE153620_Store.Pages.LoginModel
@{
}


<h2>Login</h2>

<form method="post">
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="Username" class="form-control" />
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="Password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>